<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   Team Name:
Coach:
Point Guard:
Shooting Guard:
Small Forward:
Power Forward:


 </body>
</html>


