<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
    <h1>Team Name: <%  %></h1>
    <h1>Coach: <%  %></h1>
    <h1>Point Guard: <%  %></h1>
    <h1>Shooting Guard: <%  %></h1>
    <h1>Small Forward: <%  %></h1>
    <h1>Power Forward: <%  %></h1>
    <h1>Center: <%  %></h1>

 </body>
</html>
